img { border:0 }
body, td, p, input, button, textarea, select, 
.ffl {background-color:#FFFFFF; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:left;}
.fflb {background-color:#FFFFFF; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:left;font-weight:bold;}
.f3r {background-color:#F3F3F3; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:right;}
.f3rb {background-color:#F3F3F3; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:right;font-weight:bold;}
.ffc {background-color:#FFFFFF; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:center;}
.ffcb {background-color:#FFFFFF; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:center;font-weight:bold;}
.f3c {background-color:#F3F3F3; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:center;}
.f3cb {background-color:#F3F3F3; font-size:12px; font-family:µ¸¿ò;padding:5 5 5 5;text-align:center;font-weight:bold;}
.write_head { height:30px; text-align:center; color:#8492A0; }
.field { border:1px solid #ccc; }

