.stand {
	font-size: 9pt;
	color: #111111;
	text-decoration: none;
}
.blue {
	font-size: 9pt;
	color: #00287D;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.red1 {
	font-size: 9pt;
	color: #E80002;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.red1s {
	font-size: 8pt;
	color: #E80002;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.redb {
	font-size: 9pt;
	color: #B0000A;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.redbs {
	font-size: 8pt;
	color: #B0000A;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.green2 {
	font-size: 9pt;
	color: #3FAE11;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.green2s {
	font-size: 8pt;
	color: #3FAE11;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.green2line {
	font-size: 9pt;
	color: #3FAE11;
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
}
.green2sline {
	font-size: 8pt;
	color: #3FAE11;
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
}
.gray {
	font-size: 9pt;
	color: #444444;
	text-decoration: none;
}
a:link {
	text-decoration: none;
	font-family: "돋움";
	color: #555555;
}
a:hover {
	color: #008C00;
	font-family: "돋움";
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
	font-family: "돋움";
	color: #555555;
}
.white {
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
}
.gray2 {
	font-family: "돋움";
	font-size: 9pt;
	color: #333333;
}
.gal {
	font-family: "돋움";
	font-size: 9pt;
	color: #6C4100;
}
.orange {
	font-family: "돋움";
	font-size: 9pt;
	color: #FB6104;
}
.green {
	font-family: "돋움";
	font-size: 9pt;
	color: #009900;
}
.blue2 {
	font-family: "돋움";
	font-size: 9pt;
	color: #0099CC;
}
.oksak {
	font-family: "돋움";
	font-size: 9pt;
	color: #009999;
}
.gray8 {
	font-family: "돋움";
	font-size: 8pt;
	color: #666666;
}
.gal2 {
	font-family: "돋움";
	font-size: 9pt;
	color: #8D7D4B;
}
.gray3 {
	font-family: "돋움";
	font-size: 9pt;
	color: #555555;
	text-decoration: none;
}
.gray3s {
	font-family: "돋움";
	font-size: 8pt;
	color: #555555;
	text-decoration: none;
}
.bigstd {
	font-family: "돋움";
	font-size: 11pt;
	color: #000000;
}
.whitebig {
	font-family: "돋움";
	font-size: 12pt;
	font-style: normal;
	color: #FFFFFF;
}
.gray4 {
	font-family: "돋움";
	font-size: 9pt;
	font-style: normal;
	color: #E0E0E0;
}
.stands {
	font-size: 8pt;
	color: #111111;
	text-decoration: none;
}
.blues {
	font-size: 8pt;
	color: #00287D;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-family: "돋움", Verdana, Tahoma;
}
.grays {
	font-size: 8pt;
	color: #444444;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.whites {
	font-size: 8pt;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "돋움";
}
.gray2s {
	font-family: "돋움";
	font-size: 8pt;
	color: #333333;
}
.gals {
	font-family: "돋움";
	font-size: 8pt;
	color: #6C4100;
}
.oranges {
	font-family: "돋움";
	font-size: 8pt;
	color: #FB6104;
}
.greens {
	font-family: "돋움";
	font-size: 8pt;
	color: #009900;
}
.blue2s {
	font-family: "돋움";
	font-size: 8pt;
	color: #0099CC;
}
.oksaks {
	font-family: "돋움";
	font-size: 8pt;
	color: #009999;
}
.gray8s {
	font-family: "돋움";
	font-size: 8pt;
	color: #666666;
}
.big {
	font-family: "돋움";
	font-size: 12pt;
	color: #000000;
}
.gal2s {
	font-family: "돋움";
	font-size: 8pt;
	color: #8D7D4B;
}
.gray5 {
	font-family: "돋움";
	font-size: 9pt;
	color: #CCCCCC;
}
.gray5s {
	font-family: "돋움";
	font-size: 8pt;
	color: #CCCCCC;
}
.pink {
	font-family: "돋움";
	font-size: 9pt;
	color: #E50448;
}
.pinks {
	font-family: "돋움";
	font-size: 8pt;
	color: #E50448;
}
.back_blue {
	font-family: "돋움";
	font-size: 9pt;
	color: #FFFFFF;
	background-color: #1188FF;
}
.back_orange {
	font-family: "돋움";
	color: #FFFFFF;
	background-color: #FF6600;
}
.back_yellow {
	font-family: "돋움";
	color: #FFFFFF;
	background-color: #FBE906;
}
.gray6 {
	font-family: "돋움";
	font-size: 9pt;
	color: #999999;
}
.gray6s {
	font-family: "돋움";
	font-size: 8pt;
	color: #999999;
}
.back_purple {
	font-family: "돋움";
	color: #FFFFFF;
	background-color: #6633CC;
}
.purple {
	font-family: "돋움";
	font-size: 9pt;
	color: #6633FF;
}
.purples {
	font-family: "돋움";
	font-size: 8pt;
	color: #6633FF;
}
.back_gray {
	font-family: "돋움";
	font-size: 9pt;
	color: #FFFFFF;
	background-color: #999999;
}
.bluewhite {
	font-family: "돋움";
	font-size: 9pt;
	color: #508AC5;
	text-decoration: underline;
}
.bluewhites {
	font-family: "돋움";
	font-size: 8pt;
	color: #508AC5;
	text-decoration: underline;
}
.blink1 {
	font-family: "돋움";
	font-size: 8pt;
	font-weight: bold;
	color: #FF3300;
	text-decoration: blink;
}
#pagingNew {clear:both;font:13px AppleGothic,Verdana;margin:10px 0px 10px 0px;text-align:center;width:743px;}
#pagingNew a {border:1px solid #ececec;height:23px;text-decoration:none;padding:2px 5px 0px 5px;margin-left:4px;font-weight:bold;}
#pagingNew a:hover {border:1px solid #95a5ff;color:#6671ff;}
#pagingNew .sel {border:1px solid #95a5ff;color:#6671ff;font-weight:bold;height:23px;padding:2px 5px 0 5px;margin-left:4px;}
#pagingNew .numBox {color:#000;font-weight:bold;padding:2px 5px 0px 5px;}
#pagingNew .numPrev {background:url("http://imgsrc.search.daum-img.net/search_all/2008_new/200806/bll_01.gif") no-repeat 5px 6px;color:#000;height:23px;margin-right:4px;overflow:hidden;padding:2px 5px 1px 15px;}
#pagingNew .numNext {color:#000;margin-left:4px;padding:2px 2px 1px 0px;}
#pagingNew em {background:url("http://imgsrc.search.daum-img.net/search_all/2008_new/200806/blr_01.gif") no-repeat right 4px;padding:0 11px 0 5px;}
